<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067631613889-4qe7saule7i8lnkfmiefopgq441852ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067631613889-4qe7saule7i8lnkfmiefopgq441852ah</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQOZdl9VwQ1O3QwmKtWallM_4IIWRJ_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1067631613889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phoneauthenticationwithbloc</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthenticationwithbloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067631613889:ios:c46956f2e2bdfd6c2d4140</string>
</dict>
</plist>